/* contact.css */
.contact-container {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    width: 65%;
    box-shadow: 0 4px 8px rgba(20, 20, 20, 0.754);
  }
  
  .left-halff {
    width: 65%;
  }

  .left-halff h1{
    margin-left: 69px;
    margin-top: 55px;
    font-size: 40px;
    /* margin-bottom: -15px; */
  }
  
  .right-halff {
    width: 35%; 
    background-color: rgb(255, 136, 0);
  }

  .right-halff h2{
    font-size: 40px;
    color: white;
    padding: 20px;
  }

  .right-halff p{
    font-size: 18px;
    color: white;
    font-weight: lighter;
    padding: 20px;
  }

  .contact-icons{
    border: 2px solid #e7e7e7c3;
    padding: 15px;
    font-size: 20px;
    border-radius: 50%;
    transform: translateY(18px);
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-group input,
  textarea {
    width: 100%;
    padding: 10px;
  }
  
  /* Adjust the styles as needed */
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    outline: none;
  }
  
  .form-group input[type='tel']{
    width: 42%;
  }

  textarea{
    height: 200px;
    font-size: 20px;
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
  
    .left-half,
    .right-half {
      width: 100%;
    }
  }
  