.event-management-main-container {
    padding: 20px;
    border: none;
  }
  
  .add-event-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .event-section {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }

  .event-form input[type="file"] {
    width: 98%;
  }
  
  .event-picture {
    margin-bottom: 40px;
    width: 30%;
    height: auto;
  }
  
  .event-form input,
  .event-form textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .event-form textarea {
    height: 100px;
    width: 95%;
  }
  
  .save-event-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

.event-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .event-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 370px;
  }

  .event-item {
    position: relative; 
  }
  
  .edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    color: #0addf4;
    cursor: pointer;
    padding: 20px;
    font-size: 25px;
  }
  
  .event-item:hover .edit-icon {
    display: block; 
  }
  
  .event-item img {
    width: 100%;
    height: auto;
  }
  
  .event-details {
    padding: 10px;
  }
  
  .event-details p {
    margin: 5px 0;
  }
  
.no-events-message {
  text-align: center;
  opacity: 0.5;
  width: 1200px;
  transform: translate(90px, 0px);
}

.no-events-message p{
  font-size: 100px;
  color: #c4c3c3;
}

.no-events-icon {
  font-size: 150px;
  margin-bottom: 10px;
  color: #c4c3c3;
}

.can svg{
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .add-event-button{
    margin-left: 20px;
  }

  .event-section{
    margin-left: 20px;
  }

  .event-item {
    width: 80%;
    margin-left: 20px; 
  }

  .event-details {
    padding: 10px;
    width: 100%; 
  }

  .event-details p {
    margin: 5px 0;
    font-size: 14px; 
  }

  .edit-icon {
    padding: 5px; 
    font-size: 20px; 
  }

  .event-picture {
    margin-bottom: 20px; 
    width: 100%;
    height: auto;
  }

  .no-events-message{
    margin-top: 15;
    width: 60%;
    margin-left: -30px;
  }

  .no-events-message p {
    font-size: 26px; 
  }

  .no-events-icon {
    font-size: 50px; 
  }

  .event-section{
    width: 92%;
    margin-left: 10px;
  }

  .event-dt .react-calendar{
    transform: translateX(5px);
  }

  .event-form{
    width: 90%;
  }

  .event-form input{
    height: 50px;
  }

  .event-form textarea{
    margin-left: 0;
    width: 98%;
  }
}
