.event-management-main-container {
    padding: 20px;
    border: none;
  }
  
  .add-event-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .event-section {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }

  .event-form input[type="file"] {
    width: 98%;
  }
  
  .event-picture {
    margin-bottom: 40px;
    width: 30%;
    height: auto;
  }
  
  .event-form input,
  .event-form textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .event-form textarea {
    height: 100px;
    width: 95%;
  }
  
  .save-event-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  